<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<style>

</style>
<div class="console-serveles-body">
    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_wwTPJf.json" background="transparent" speed="1"
        style="width: 200px; height: 200px;" autoplay></lottie-player>
</div>