<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<style>

</style>
<div class="console-serveles-body" style="
    display: grid  !important;
     
    opacity: 1">
    <div tooltip="Você está tentando acessar um módulo que não existe..." src=" " style="
    opacity: 1;
    width: 100%;
    height: 70px;
    background-image: url(/assets/images/notfound.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-color: transparent;
    border: none !important;
    box-shadow: none;

    "></div>
    <h1 style="
    padding: 0px;
    margin: 0px;
    color: #929292;
    text-align: center;
    font-size: 18px;
"> Módulo Indisponivel</h1>

</div>