<!DOCTYPE html>
<html>

<head>
    <title>[404] - Oopss</title>
    <link rel="stylesheet" href="/assets/xel/themes/material.css">
    <link rel="stylesheet" href="/css/error404.css">
    <script src="/assets/xel/xel.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <script src="/scripts/cache.js"></script>
    <script src="/scripts/life.js"></script>

    <link rel="icon" href="/assets/logo_transparent.png">
    <link rel="icon" type="image/png" href="/assets/logo_transparent.png">
</head>

<body style=" display: flex;height: 100%;
    min-height: 700px;
  align-items: center;
  justify-content: center;">

    <style>
        body {
            font-family: 'Roboto Slab', serif !important;

            background: #ffffff;
        }
    </style>